<%= form_for(@transition_type) do |f| %>
  <% if @transition_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transition_type.errors.count, "error") %> prohibited this transition_type from being saved:</h2>

      <ul>
      <% @transition_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
