<div class="photo_section">
	<div class="sidebar">
		<div class="buttons">
			<%= link_to('Approve', approve_photo_path(-1), {remote: true, class: 'approve'}) -%></li>
			<%= link_to('Deny', deny_photo_path(-1), {remote: true, class: 'deny'}) -%></li>
		</div>
				
		<div class="filenames">
			<%- photo_section.each do |photo| -%>
				<%= link_to(
					format_filename(photo).html_safe, 
					"#",
					{
						id: photo.id,
						onclick: "show_photo(this, #{photo.id}, '#{photo.path}', '#{Photo::RESIZED_FOLDER + photo.path}'); return false;"
					}
				) -%><br>
			<%- end -%>
		</div>
	</div>
	
	<div class="preview">
		<img src="/photos/black.png">
		<p class="caption">&nbsp;</p>
	</div>
	
	<div class="clear_float">
	</div>
</div>
