<%- if false -%>
<ul class="menu_bar">
	<li>Pending</li>
	<li>Approved</li>
	<li>Denied</li>
</ul>

<div class="clear_float"></div>
<%- end -%>

<%= render(partial: 'photo_section', object: @photos) -%>
