.option {
	top: .5em;
	width: 7em;
	height: 3em;
	padding: 0;
	display: block;
	position: relative;
	border: 1px solid orange;
	
	&.selected {
		color: black;
		background-color: yellow;
	}
	
	label {
		text-align: center;
		display: block;
	}
}

.overlay {
	position: fixed;
	background-color: rgba(0,0,96,0.85);
	border: 2px solid yellow;
	border-radius: 1em;
	top: 0px;
	right: 0px;
	bottom: 0;
	left: 0px;
	margin-top: 4em;
	margin-right: auto;
	margin-bottom: 4em;
	margin-left: auto;
	width: 500px;
}