// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo_section {
	clear: both;
	width: 100%;
	padding: 0;
	margin: 0;
	height: calc(100% - 3em);

	.preview {
		border: 1px solid yellow;
		margin: 1em 17em 1em 1em;
		height: 100%;
		text-align: center;
		position: relative;

		img {
			max-width: 100%;
			max-height: calc(100% - 3em);
		}

		p.caption {
			text-align: center;
		}

		table.controls {
			margin: 1em;

			tbody {
				th {
					text-align: right;
				}

				td {
					text-align: left;
					padding: .5em;

					div {
						&.settings, &.presets {
							float: left;
							display: block;
							padding-right: 1em;
						}

						&.timing {
							&.settings {
								padding-top: 1em;
							}
						}
					}

					input.numbers {
						width: 3em;
						text-align: center;
					}
				}
			}
		}
	}

	.sidebar{
		float: right;
		width: 15em;
		height: 100%;
		margin-right: 1em;

		.buttons {
			display: inline-block;
			width: 100%;
			height: 4em;

			a {
				position: absolute;
				top: .25em;
				
				&.approve {
					border-color: #00FF00;
					background-color: green;
					left: .25em;
				}

				&.deny {
					border-color: #FFAAAA;
					background-color: red;
					left: 7.75em;
				}
			}
		}

		.filenames {
			border: 1px solid orange;
			padding-top: .5em;
			height: calc(100% - 8.6em);
			overflow-y: auto;

			a {
				text-decoration: none;
				display: inline-block;
				width: 100%;
				margin-bottom: .25em;
				white-space: nowrap;
			}

			span {
				height: 1.25em;
				display: inline-block;
				overflow: hidden;
				padding: 0 0 .25em 0;
				vertical-align: middle;

				&.client_id {
					width: 1.5em;
					text-align: right;
					margin-right: 0;
				}

				&.camera_id {
					width: 1.5em;
					text-align: right;
					margin-right: .5em;
				}

				&.filename {
					width: 10em;
					text-align: left;
				}
			}
		}
	}
}
