// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo_section {
	clear: both;
	width: 100%;
	padding: 0;
	margin: 0;
	height: 100%;

	.preview {
		border: 1px solid yellow;
		margin: 1em 17em 1em 1em;
		height: 100%;
		text-align: center;

		img {
			max-width: 100%;
			max-height: calc(100% - 3em);
		}

		p.caption {
			text-align: center;
		}
	}

	.sidebar{
		float: right;
		width: 15em;
		height: 100%;
		margin-right: 1em;

		.buttons {
			display: inline-block;
			position: relative;
			width: 100%;
			height: 4em;

			a {
				padding: 1em;
				text-decoration: none;
				border-radius: .5em;
				display: inline-block;
				text-align: center;
				width: 5em;
				font-weight: bold;
				position: absolute;
				top: .25em;
				
				&.approve {
					background-color: green;
					left: .25em;
				}
				
				&.deny {
					background-color: red;
					left: 7.75em;
				}
			}
		}

		.filenames {
			border: 1px solid orange;
			padding-top: .5em;
			height: calc(100% - 4.9em);
			overflow-y: auto;
			
			a {
				text-decoration: none;
				display: inline-block;
				width: 100%;
				margin-bottom: .25em;
			}
			
			.camera_id {
				display: inline-block;
				width: 2em;
				height: 1em;
				text-align: right;
				margin-right: .5em;
			}

			.filename {
				overflow: hidden;
				width: 10em;
				height: 1em;
				text-align: left;
			}
		}
	}
}